<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Add Products</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('nav') %>
    <main>
    <div class="head">
        <h1>Add Products</h1>
    </div>
        <% if(success.length > 0){ %>
        <p style="color:green"><%= success %></p>
    <% } %>

    <% if(error.length > 0){ %>
        <p style="color:red"><%= error %></p>
    <% } %>
    <div class="form">
    <form method="POST" action="/admin/add-product">
        <label>Name:</label>
        <input type="text" placeholder="Enter name" name="name">
        <label>Customer Price:</label>
        <input type="number" placeholder="Enter customer price" name="cPrice">
        <label>Cost:</label>
        <input type="number" placeholder="Enter cost" name="cost">
        <label>Category:</label>
        <select name="category">
            <% categories.forEach(category => { %>
            <option value="<%= category.id %>">
                <%= category.name %>
            </option>
                <% }) %>
        </select>
        <button type="submit">Add</button>
    </form>
    </div>
    </main>
</body>
</html>