<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Document</title>
    <style>
        main {
            background-color: #f4f7fb;
            min-height: 90vh;
            padding: 20px;
        }
        @media (max-width:700px)
        {
            .table th {
                width: 20%;
            }
            #prod {
                width: 100%;
            }
            #cat {
                display: none;
            }
        }
    </style>
</head>
<body>
    <%- include('nav') %>
    <main>
        <h6 class="fw-semibold mb-1" style="font-size: 30px; text-align: center;padding: 10px;">
            <%= quotation.title %>
        </h6>
        <table cellpadding="10" class="table table-striped table-bordered align-middle">
        <thead>
        <tr>
            <th scope="col" class="text-start table-dark" id="prod">Product</th>
            <th scope="col" class="text-start table-dark" id="cat">Category</th>
            <th scope="col" class="text-center table-dark">Qty</th>
            <th scope="col" class="text-end table-dark">Cost</th>
            <th scope="col" class="text-end table-dark">Unit Price</th>
            <th scope="col" class="text-end table-dark">Total</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <% items.forEach(item => { %>
        <tr>
            <th scope="row" class="text-start"><%= item.name %></th>
            <td class="text-start" id="cat"><%= item.category %></td>
            <td class="text-center"><%= item.qty %></td>
            <td class="text-end"><%= item.cost.toLocaleString() %></td>
            <td class="text-end"><%= item.price.toLocaleString() %></td>
            <td class="text-end"><%= (item.price * item.qty).toLocaleString() %></td>
        </tr>
        <% }) %>

        </tbody>
        </table>
         <div class="text-dark fw-medium"  style="font-size: 18px;text-align: end;">
                Grand Total: <span class="text-primary">Rs. <%= total.toLocaleString() %></span>
            </div>
        <hr>
        <div class="text-center mt-2">
        <a href="/contact?quotation=<%= quotation.id %>" class="btn btn-outline-primary px-4 py-2 rounded-pill">
            Contact Us About This Quotation
        </a>
        </div>
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<%- include('footer') %>
</body>
</html>