<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Document</title>
    <link rel="stylesheet" href="/css/quotation.css">
</head>
<body>
    <%- include('nav') %>
    <main>
        <h2>Quotation Builder</h2>
        <div class="content">
        <div style="display:flex; gap:30px" class="maker">
        <!-- LEFT SIDE -->
        <div style="flex:2" class="left">
        <h3>Quotation Title:</h3>
        <input type="text" placeholder="Title" name="title" id="title">
        <% Object.keys(products).forEach(category=>{ %>
        <div class="d-flex" style="justify-content: space-between; align-items: center;margin-top: 10px;">
        <h3><%= category %></h3>
        <div class="product-picker">
            <button type="button" class="add-btn">+</button>
            <select class="product-select"
                onchange="addProduct(this, '<%= category %>')">
                <option value="">Select Product</option>
                <% products[category].forEach(product => { %>
                <option
                    data-name="<%= product.description %>"
                    data-price="<%= product.price %>"
                    data-cost="<%= product.cost %>"
                    data-id="<%= product.serial_no %>">
                    <%= product.description %>
                </option>
                <% }) %>
            </select>
        </div>
        </div>
        <!-- Selected Product List -->
        <div id="list-<%= category %>" class="product-list"></div>
        <hr>
        <% }) %>
        </div>
        <!-- RIGHT SIDE -->
        <div style="flex:1; border-left:1px solid #ddd; padding-left:20px" class="right">
        <h3>Quotation Summary</h3>
        <p>Margin: <span id="margin">0</span></p>
        <p>Profit: <span id="profit">0</span></p>
        <h3>Total Cost: <span id="totalCost">0</span></h3>
        </div>
        </div>
        <hr>
        <h3>Total Price: <span id="totalPrice">0</span></h3>
        <label class="form-check-label">
        <input type="checkbox" id="publishCheckbox" class="form-check-input">
        Publish Quotation
        </label>
        <div class="btns">
        <button id="btn" onclick="downloadQuotation()"> Download Quotation PDF </button> 
        <button onclick="saveQuotation()" id="btn">Save Quotation</button>
        </div>
        </div>
    </main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.31/jspdf.plugin.autotable.min.js"></script>
<script src="/quote.js"></script>
<%- include('footer') %>
</body>
</html>